<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="me.turnerha" android:versionCode="1" android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:debuggable="true">

		<receiver android:name=".WifiStateReceiver">
			<intent-filter>
				<action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
			</intent-filter>
		</receiver>

		<!--
			TODO: Listen for a state change to the background data service state
			and call stop service if the background data was turned off
		-->
		<receiver android:name=".InetStateReceiver">
			<intent-filter>
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
			</intent-filter>
		</receiver>

		<!--
			What we are really looking for here is a way for this class to
			receive a wakeup call as soon as possible after the application is
			installed(or the phone turned on, same thing for our purposes).

			Optimally, there should be many more broadcasts registered here
			besides SCREEN_OFF, but this is just for testing purposes. After this
			has been called once, it unregisters itself entirely and is never
			called again
		-->
		<!--
			This is not working properly yet, so I am going to use an Activity to
			start it for now <receiver android:name=".RegisterListeners">
			<intent-filter> <action
			android:name="android.net.conn.CONNECTIVITY_CHANGE" /> <action
			android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter> </receiver>
		-->

		<activity android:name=".TempMain">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<service android:name=".WiFiReporterService" />
		<service android:name=".CellularUploadService" />


	</application>

	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

	<uses-sdk android:minSdkVersion="3" />

</manifest> 